schema/snapshots/2025-02-25/api-3.0.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://api.cc.salesapp.apptitude.nl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://api.cc.salesapp.apptitude.nl/" name="A4FApiService_3_0">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.cc.salesapp.apptitude.nl/" schemaLocation="https://connector.colect.services:443/services/api/3.0?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://api.cc.salesapp.apptitude.nl/" schemaLocation="https://connector.colect.services:443/services/api/3.0?xsd=2"/>
</xsd:schema>
</types>
<message name="deleteProductAccessRulesForCustomer">
<part name="parameters" element="tns:deleteProductAccessRulesForCustomer"/>
</message>
<message name="deleteProductAccessRulesForCustomerResponse">
<part name="parameters" element="tns:deleteProductAccessRulesForCustomerResponse"/>
</message>
<message name="storeProducts">
<part name="parameters" element="tns:storeProducts"/>
</message>
<message name="storeProductsResponse">
<part name="parameters" element="tns:storeProductsResponse"/>
</message>
<message name="deleteProducts">
<part name="parameters" element="tns:deleteProducts"/>
</message>
<message name="deleteProductsResponse">
<part name="parameters" element="tns:deleteProductsResponse"/>
</message>
<message name="deleteAllProducts">
<part name="parameters" element="tns:deleteAllProducts"/>
</message>
<message name="deleteAllProductsResponse">
<part name="parameters" element="tns:deleteAllProductsResponse"/>
</message>
<message name="storeFullCustomerSet">
<part name="parameters" element="tns:storeFullCustomerSet"/>
</message>
<message name="storeFullCustomerSetResponse">
<part name="parameters" element="tns:storeFullCustomerSetResponse"/>
</message>
<message name="storeCustomers">
<part name="parameters" element="tns:storeCustomers"/>
</message>
<message name="storeCustomersResponse">
<part name="parameters" element="tns:storeCustomersResponse"/>
</message>
<message name="deleteCustomers">
<part name="parameters" element="tns:deleteCustomers"/>
</message>
<message name="deleteCustomersResponse">
<part name="parameters" element="tns:deleteCustomersResponse"/>
</message>
<message name="deleteAllCustomers">
<part name="parameters" element="tns:deleteAllCustomers"/>
</message>
<message name="deleteAllCustomersResponse">
<part name="parameters" element="tns:deleteAllCustomersResponse"/>
</message>
<message name="storeFullCustomerAccessSet">
<part name="parameters" element="tns:storeFullCustomerAccessSet"/>
</message>
<message name="storeFullCustomerAccessSetResponse">
<part name="parameters" element="tns:storeFullCustomerAccessSetResponse"/>
</message>
<message name="storeFullProductAccessSet">
<part name="parameters" element="tns:storeFullProductAccessSet"/>
</message>
<message name="storeFullProductAccessSetResponse">
<part name="parameters" element="tns:storeFullProductAccessSetResponse"/>
</message>
<message name="getUnprocessedOrders">
<part name="parameters" element="tns:getUnprocessedOrders"/>
</message>
<message name="getUnprocessedOrdersResponse">
<part name="parameters" element="tns:getUnprocessedOrdersResponse"/>
</message>
<message name="storeProductRelations">
<part name="parameters" element="tns:storeProductRelations"/>
</message>
<message name="storeProductRelationsResponse">
<part name="parameters" element="tns:storeProductRelationsResponse"/>
</message>
<message name="deleteProductRelations">
<part name="parameters" element="tns:deleteProductRelations"/>
</message>
<message name="deleteProductRelationsResponse">
<part name="parameters" element="tns:deleteProductRelationsResponse"/>
</message>
<message name="getOrders">
<part name="parameters" element="tns:getOrders"/>
</message>
<message name="getOrdersResponse">
<part name="parameters" element="tns:getOrdersResponse"/>
</message>
<message name="updateStock">
<part name="parameters" element="tns:updateStock"/>
</message>
<message name="updateStockResponse">
<part name="parameters" element="tns:updateStockResponse"/>
</message>
<message name="updatePrices">
<part name="parameters" element="tns:updatePrices"/>
</message>
<message name="updatePricesResponse">
<part name="parameters" element="tns:updatePricesResponse"/>
</message>
<message name="updateExtraFields">
<part name="parameters" element="tns:updateExtraFields"/>
</message>
<message name="updateExtraFieldsResponse">
<part name="parameters" element="tns:updateExtraFieldsResponse"/>
</message>
<message name="storeFullProductSet">
<part name="parameters" element="tns:storeFullProductSet"/>
</message>
<message name="storeFullProductSetResponse">
<part name="parameters" element="tns:storeFullProductSetResponse"/>
</message>
<message name="markOrdersAsProcessed">
<part name="parameters" element="tns:markOrdersAsProcessed"/>
</message>
<message name="markOrdersAsProcessedResponse">
<part name="parameters" element="tns:markOrdersAsProcessedResponse"/>
</message>
<message name="storeFullCustomerAccessSetForAgent">
<part name="parameters" element="tns:storeFullCustomerAccessSetForAgent"/>
</message>
<message name="storeFullCustomerAccessSetForAgentResponse">
<part name="parameters" element="tns:storeFullCustomerAccessSetForAgentResponse"/>
</message>
<message name="storeFullInvoiceSetForCustomer">
<part name="parameters" element="tns:storeFullInvoiceSetForCustomer"/>
</message>
<message name="storeFullInvoiceSetForCustomerResponse">
<part name="parameters" element="tns:storeFullInvoiceSetForCustomerResponse"/>
</message>
<message name="storeFullProductRelations">
<part name="parameters" element="tns:storeFullProductRelations"/>
</message>
<message name="storeFullProductRelationsResponse">
<part name="parameters" element="tns:storeFullProductRelationsResponse"/>
</message>
<message name="deleteAllProductRelations">
<part name="parameters" element="tns:deleteAllProductRelations"/>
</message>
<message name="deleteAllProductRelationsResponse">
<part name="parameters" element="tns:deleteAllProductRelationsResponse"/>
</message>
<message name="getAllProducts">
<part name="parameters" element="tns:getAllProducts"/>
</message>
<message name="getAllProductsResponse">
<part name="parameters" element="tns:getAllProductsResponse"/>
</message>
<message name="storeProductAccessRules">
<part name="parameters" element="tns:storeProductAccessRules"/>
</message>
<message name="storeProductAccessRulesResponse">
<part name="parameters" element="tns:storeProductAccessRulesResponse"/>
</message>
<message name="deleteProductAccessRules">
<part name="parameters" element="tns:deleteProductAccessRules"/>
</message>
<message name="deleteProductAccessRulesResponse">
<part name="parameters" element="tns:deleteProductAccessRulesResponse"/>
</message>
<message name="deleteAllProductAccessRules">
<part name="parameters" element="tns:deleteAllProductAccessRules"/>
</message>
<message name="deleteAllProductAccessRulesResponse">
<part name="parameters" element="tns:deleteAllProductAccessRulesResponse"/>
</message>
<message name="storeFullHistoricalOrderSetForCustomer">
<part name="parameters" element="tns:storeFullHistoricalOrderSetForCustomer"/>
</message>
<message name="storeFullHistoricalOrderSetForCustomerResponse">
<part name="parameters" element="tns:storeFullHistoricalOrderSetForCustomerResponse"/>
</message>
<message name="deleteHistoricalOrders">
<part name="parameters" element="tns:deleteHistoricalOrders"/>
</message>
<message name="deleteHistoricalOrdersResponse">
<part name="parameters" element="tns:deleteHistoricalOrdersResponse"/>
</message>
<message name="deleteAllHistoricalOrders">
<part name="parameters" element="tns:deleteAllHistoricalOrders"/>
</message>
<message name="deleteAllHistoricalOrdersResponse">
<part name="parameters" element="tns:deleteAllHistoricalOrdersResponse"/>
</message>
<message name="storeHistoricalOrders">
<part name="parameters" element="tns:storeHistoricalOrders"/>
</message>
<message name="storeHistoricalOrdersResponse">
<part name="parameters" element="tns:storeHistoricalOrdersResponse"/>
</message>
<message name="deleteAllInvoices">
<part name="parameters" element="tns:deleteAllInvoices"/>
</message>
<message name="deleteAllInvoicesResponse">
<part name="parameters" element="tns:deleteAllInvoicesResponse"/>
</message>
<message name="deleteInvoices">
<part name="parameters" element="tns:deleteInvoices"/>
</message>
<message name="deleteInvoicesResponse">
<part name="parameters" element="tns:deleteInvoicesResponse"/>
</message>
<message name="storeInvoices">
<part name="parameters" element="tns:storeInvoices"/>
</message>
<message name="storeInvoicesResponse">
<part name="parameters" element="tns:storeInvoicesResponse"/>
</message>
<message name="getInfo">
<part name="parameters" element="tns:getInfo"/>
</message>
<message name="getInfoResponse">
<part name="parameters" element="tns:getInfoResponse"/>
</message>
<portType name="ColectApiService_3_0">
<operation name="deleteProductAccessRulesForCustomer">
<input wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/deleteProductAccessRulesForCustomerRequest" message="tns:deleteProductAccessRulesForCustomer"/>
<output wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/deleteProductAccessRulesForCustomerResponse" message="tns:deleteProductAccessRulesForCustomerResponse"/>
</operation>
<operation name="storeProducts">
<input wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/storeProductsRequest" message="tns:storeProducts"/>
<output wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/storeProductsResponse" message="tns:storeProductsResponse"/>
</operation>
<operation name="deleteProducts">
<input wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/deleteProductsRequest" message="tns:deleteProducts"/>
<output wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/deleteProductsResponse" message="tns:deleteProductsResponse"/>
</operation>
<operation name="deleteAllProducts">
<input wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/deleteAllProductsRequest" message="tns:deleteAllProducts"/>
<output wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/deleteAllProductsResponse" message="tns:deleteAllProductsResponse"/>
</operation>
<operation name="storeFullCustomerSet">
<input wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/storeFullCustomerSetRequest" message="tns:storeFullCustomerSet"/>
<output wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/storeFullCustomerSetResponse" message="tns:storeFullCustomerSetResponse"/>
</operation>
<operation name="storeCustomers">
<input wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/storeCustomersRequest" message="tns:storeCustomers"/>
<output wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/storeCustomersResponse" message="tns:storeCustomersResponse"/>
</operation>
<operation name="deleteCustomers">
<input wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/deleteCustomersRequest" message="tns:deleteCustomers"/>
<output wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/deleteCustomersResponse" message="tns:deleteCustomersResponse"/>
</operation>
<operation name="deleteAllCustomers">
<input wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/deleteAllCustomersRequest" message="tns:deleteAllCustomers"/>
<output wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/deleteAllCustomersResponse" message="tns:deleteAllCustomersResponse"/>
</operation>
<operation name="storeFullCustomerAccessSet">
<input wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/storeFullCustomerAccessSetRequest" message="tns:storeFullCustomerAccessSet"/>
<output wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/storeFullCustomerAccessSetResponse" message="tns:storeFullCustomerAccessSetResponse"/>
</operation>
<operation name="storeFullProductAccessSet">
<input wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/storeFullProductAccessSetRequest" message="tns:storeFullProductAccessSet"/>
<output wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/storeFullProductAccessSetResponse" message="tns:storeFullProductAccessSetResponse"/>
</operation>
<operation name="getUnprocessedOrders">
<input wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/getUnprocessedOrdersRequest" message="tns:getUnprocessedOrders"/>
<output wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/getUnprocessedOrdersResponse" message="tns:getUnprocessedOrdersResponse"/>
</operation>
<operation name="storeProductRelations">
<input wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/storeProductRelationsRequest" message="tns:storeProductRelations"/>
<output wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/storeProductRelationsResponse" message="tns:storeProductRelationsResponse"/>
</operation>
<operation name="deleteProductRelations">
<input wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/deleteProductRelationsRequest" message="tns:deleteProductRelations"/>
<output wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/deleteProductRelationsResponse" message="tns:deleteProductRelationsResponse"/>
</operation>
<operation name="getOrders">
<input wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/getOrdersRequest" message="tns:getOrders"/>
<output wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/getOrdersResponse" message="tns:getOrdersResponse"/>
</operation>
<operation name="updateStock">
<input wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/updateStockRequest" message="tns:updateStock"/>
<output wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/updateStockResponse" message="tns:updateStockResponse"/>
</operation>
<operation name="updatePrices">
<input wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/updatePricesRequest" message="tns:updatePrices"/>
<output wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/updatePricesResponse" message="tns:updatePricesResponse"/>
</operation>
<operation name="updateExtraFields">
<input wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/updateExtraFieldsRequest" message="tns:updateExtraFields"/>
<output wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/updateExtraFieldsResponse" message="tns:updateExtraFieldsResponse"/>
</operation>
<operation name="storeFullProductSet">
<input wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/storeFullProductSetRequest" message="tns:storeFullProductSet"/>
<output wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/storeFullProductSetResponse" message="tns:storeFullProductSetResponse"/>
</operation>
<operation name="markOrdersAsProcessed">
<input wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/markOrdersAsProcessedRequest" message="tns:markOrdersAsProcessed"/>
<output wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/markOrdersAsProcessedResponse" message="tns:markOrdersAsProcessedResponse"/>
</operation>
<operation name="storeFullCustomerAccessSetForAgent">
<input wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/storeFullCustomerAccessSetForAgentRequest" message="tns:storeFullCustomerAccessSetForAgent"/>
<output wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/storeFullCustomerAccessSetForAgentResponse" message="tns:storeFullCustomerAccessSetForAgentResponse"/>
</operation>
<operation name="storeFullInvoiceSetForCustomer">
<input wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/storeFullInvoiceSetForCustomerRequest" message="tns:storeFullInvoiceSetForCustomer"/>
<output wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/storeFullInvoiceSetForCustomerResponse" message="tns:storeFullInvoiceSetForCustomerResponse"/>
</operation>
<operation name="storeFullProductRelations">
<input wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/storeFullProductRelationsRequest" message="tns:storeFullProductRelations"/>
<output wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/storeFullProductRelationsResponse" message="tns:storeFullProductRelationsResponse"/>
</operation>
<operation name="deleteAllProductRelations">
<input wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/deleteAllProductRelationsRequest" message="tns:deleteAllProductRelations"/>
<output wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/deleteAllProductRelationsResponse" message="tns:deleteAllProductRelationsResponse"/>
</operation>
<operation name="getAllProducts">
<input wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/getAllProductsRequest" message="tns:getAllProducts"/>
<output wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/getAllProductsResponse" message="tns:getAllProductsResponse"/>
</operation>
<operation name="storeProductAccessRules">
<input wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/storeProductAccessRulesRequest" message="tns:storeProductAccessRules"/>
<output wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/storeProductAccessRulesResponse" message="tns:storeProductAccessRulesResponse"/>
</operation>
<operation name="deleteProductAccessRules">
<input wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/deleteProductAccessRulesRequest" message="tns:deleteProductAccessRules"/>
<output wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/deleteProductAccessRulesResponse" message="tns:deleteProductAccessRulesResponse"/>
</operation>
<operation name="deleteAllProductAccessRules">
<input wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/deleteAllProductAccessRulesRequest" message="tns:deleteAllProductAccessRules"/>
<output wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/deleteAllProductAccessRulesResponse" message="tns:deleteAllProductAccessRulesResponse"/>
</operation>
<operation name="storeFullHistoricalOrderSetForCustomer">
<input wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/storeFullHistoricalOrderSetForCustomerRequest" message="tns:storeFullHistoricalOrderSetForCustomer"/>
<output wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/storeFullHistoricalOrderSetForCustomerResponse" message="tns:storeFullHistoricalOrderSetForCustomerResponse"/>
</operation>
<operation name="deleteHistoricalOrders">
<input wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/deleteHistoricalOrdersRequest" message="tns:deleteHistoricalOrders"/>
<output wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/deleteHistoricalOrdersResponse" message="tns:deleteHistoricalOrdersResponse"/>
</operation>
<operation name="deleteAllHistoricalOrders">
<input wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/deleteAllHistoricalOrdersRequest" message="tns:deleteAllHistoricalOrders"/>
<output wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/deleteAllHistoricalOrdersResponse" message="tns:deleteAllHistoricalOrdersResponse"/>
</operation>
<operation name="storeHistoricalOrders">
<input wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/storeHistoricalOrdersRequest" message="tns:storeHistoricalOrders"/>
<output wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/storeHistoricalOrdersResponse" message="tns:storeHistoricalOrdersResponse"/>
</operation>
<operation name="deleteAllInvoices">
<input wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/deleteAllInvoicesRequest" message="tns:deleteAllInvoices"/>
<output wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/deleteAllInvoicesResponse" message="tns:deleteAllInvoicesResponse"/>
</operation>
<operation name="deleteInvoices">
<input wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/deleteInvoicesRequest" message="tns:deleteInvoices"/>
<output wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/deleteInvoicesResponse" message="tns:deleteInvoicesResponse"/>
</operation>
<operation name="storeInvoices">
<input wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/storeInvoicesRequest" message="tns:storeInvoices"/>
<output wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/storeInvoicesResponse" message="tns:storeInvoicesResponse"/>
</operation>
<operation name="getInfo">
<input wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/getInfoRequest" message="tns:getInfo"/>
<output wsam:Action="http://api.cc.salesapp.apptitude.nl/ColectApiService_3_0/getInfoResponse" message="tns:getInfoResponse"/>
</operation>
</portType>
<binding name="ColectApiService_3_0PortBinding" type="tns:ColectApiService_3_0">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="deleteProductAccessRulesForCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="storeProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteAllProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="storeFullCustomerSet">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="storeCustomers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteCustomers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteAllCustomers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="storeFullCustomerAccessSet">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="storeFullProductAccessSet">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUnprocessedOrders">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="storeProductRelations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteProductRelations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getOrders">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateStock">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updatePrices">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateExtraFields">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="storeFullProductSet">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="markOrdersAsProcessed">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="storeFullCustomerAccessSetForAgent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="storeFullInvoiceSetForCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="storeFullProductRelations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteAllProductRelations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="storeProductAccessRules">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteProductAccessRules">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteAllProductAccessRules">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="storeFullHistoricalOrderSetForCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteHistoricalOrders">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteAllHistoricalOrders">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="storeHistoricalOrders">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteAllInvoices">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteInvoices">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="storeInvoices">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="A4FApiService_3_0">
<port name="ColectApiService_3_0Port" binding="tns:ColectApiService_3_0PortBinding">
<soap:address location="https://connector.colect.services:443/services/api/3.0"/>
</port>
</service>
</definitions>